---
import { useTranslations } from '../i18n/ui';

const { lang } = Astro.props;
const t = useTranslations(lang);

const { 
	telegram = "t.me/extremepeacee", 
	email = "bryxosmmm@proton.me",
} = Astro.props;
---

<div class="container">
	<header class="header">
		<div class="item-title">
			<h1 class="title primary">{t('about.my_name')}</h1>
		</div>
		<div class="meta-info">
			<a href={`https://${telegram}`} target="_blank" rel="noopener noreferrer">
				<span>{telegram}</span>
			</a>
			<a href={`mailto:${email}`}>
				<span>{email}</span>
			</a>
		</div>
	</header>
	
	<div class="section">
		<h2 class="section-heading">{t('education.title')}</h2>
		<div class="item">
			<div class="item-title">
				<span class="primary">{t('education.university')}</span>
				<span class="secondary">{t('education.degree')}</span>
			</div>
			<div class="meta">{t('education.years')} | {t('education.location')}</div>
		</div>
	</div>
	
	<div class="section">
		<h2 class="section-heading">{t('about.title')}</h2>
		<div class="item">
			<p class="description">
				{t('about.description')}
			</p>
		</div>
	</div>
	
	<div class="section">
		<h2 class="section-heading">{t('achievements.title')}</h2>
		<div class="item">
			<div class="item-title">
				<span class="primary">{t('achievements.prod.title')}</span>
				<span class="secondary">{t('achievements.prod.subtitle')}</span>
			</div>
			<p class="description">
				{t('achievements.prod.description')}
			</p>
			<div class="meta">{t('achievements.prod.date')} | {t('education.location')}</div>
		</div>
	</div>
	
	<div class="section">
		<h2 class="section-heading">{t('skills.title')}</h2>
		<div class="flex-container">
			<div class="flex-item">
				<div class="heading">{t('skills.languages.title')}</div>
				<div class="subheading">{t('skills.languages.subtitle')}</div>
			</div>
			<div class="flex-item">
				<div class="heading">{t('skills.areas.title')}</div>
				<div class="subheading">{t('skills.areas.subtitle')}</div>
			</div>
		</div>
	</div>
</div>

<style>
	.subtitle {
		font-size: 1.25rem;
		color: var(--secondary-color);
		margin-top: 0.5rem;
		font-weight: 400;
	}
</style>
