---
import '../styles/global.css';
import { getLangFromUrl, useTranslations } from '../i18n/ui';
import LanguageSwitcher from '../components/LanguageSwitcher.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href={import.meta.env.BASE_URL + '/favicon.ico'} />
		<meta name="generator" content={Astro.generator} />
		<title>{t('page.title')}</title>

	</head>
	<body>
		<LanguageSwitcher />
		<slot />
	</body>
</html>
